@inject IAuthorizationService authService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] : Demo Web Store UI by germistry</title>
    <environment include="Development">
        <link href="~/lib/bulma-0.9.1/bulma/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma-0.9.1/bulma/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>
</head>
<body>
    <h3 class="title has-text-centered">Admin Panel</h3>

    <div class="container">
        <div class="columns is-3">
            <div class="column is-3">
                <div class="menu">
                    <p class="menu-label">Store Menu</p>
                    @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                    {
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/Index">Dashboard</a></li>
                        <li><a asp-page="/Admin/Products">Products</a></li>
                        <li><a asp-page="/Admin/Orders">Orders</a></li>
                        <li><a asp-page="/Admin/Stock">Stock</a></li>
                    </ul>
                    }
                    @if ((await authService.AuthorizeAsync(User, "Admin")).Succeeded)
                    {
                    <ul class="menu-list">
                        <li><a asp-page="/Admin/ConfigureUsers">Configure Users</a></li>
                    </ul>
                    }
                    
                    <ul class="menu-list">
                        <li><a asp-page="/Index">Public Website</a></li>
                    </ul>
                </div>
            </div>

            <div class="column is-9">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
