@page
@model WebStore.UI.Pages.Accounts.LoginModel
@{
}
<div class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-6-desktop is-6-tablet">
                    <h3 class="title">Log In</h3>
                    <form method="post">
                        <div class="field">
                            <label class="label">User Name</label>
                            <div class="control">
                                <input class="input" asp-for="Input.UserName" />
                                <span asp-validation-for="Input.UserName" class="is-small has-text-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" asp-for="Input.Password" />
                                <span asp-validation-for="Input.Password" class="is-small has-text-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label"></label>
                            <div class="control">
                                <button class="button is-primary" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>