@page
@model CartModel
@{

}

<div class="container">
    <partial name="_CartPartial" model="@Model.CartList" />
</div>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="~/js/cart.js"></script>
   
}

