@page
@model CartModel
@{
    
}

<div class="container">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <h2 class="title">Cart</h2>
            @foreach (var product in Model.CartList)
            {
                string lineValue = $"{product.Value * product.Qty}";
                <div class="level">
                    <div class="level-item">
                        <figure class="image is-64x64">
                            <img src="~/images/carrots.png" alt="Example image" />
                        </figure>
                    </div>
                    <div class="level-item">
                        <p>@product.StockId</p>
                    </div>
                    <div class="level-item">
                        @product.Name
                    </div>
                    <div class="level-item">
                        @product.StockDescription
                    </div>
                    <div class="level-item">
                        @product.Qty
                    </div>
                    <div class="level-item">
                        $@product.Value
                    </div>
                    <div class="level-item">
                        $@lineValue
                    </div>
                </div>
            }
            <div class="has-text-right">
                <a class="button is-success is-outlined" asp-page="/AllProducts">Continue Shopping</a>
                <a class="button is-success" asp-page="/Checkout/CustomerInfo">Go to Checkout</a>
            </div>
        </div>
    </div>
    
</div>

