@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="hero is-medium is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to the Seed Shop
            </h1>
            <h2 class="subtitle">
                Get all your garden seeds here. Veggies, fruit, pulses, flowers ... plus everything else for a sustainable food garden!
            </h2>
        </div>
    </div>
</section>


