@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
        </tr>

        @foreach (var p in Model.Products)
        {
            <tr>
                <td><a asp-page="Product" asp-route-name="@p.Name.Replace(" ", "-")">@p.Name</a></td>
                <td>@p.Description</td>
                <td>@p.Value</td>
            </tr>
        }
    </table>

</div>
@await Component.InvokeAsync("Cart")
