@model string
@{

}

<a id="nav-cart" class="navbar-item" asp-page="/Cart">
    <span class="icon-text">
        <span class="icon has-text-success">
            <i class="fas fa-shopping-cart"></i>
        </span>
        <span>@Model</span>
    </span>
</a>